# Rstudio
.Rproj.user
.Rhistory
.RData
.Ruserdata
# osx
.DS_Store
# rendering
*.html
*.tex
*.pdf
*.log
libs/
index_files/
index.cluster_files/
figure-html/
# renv
renv/
renv.lock
.Rprofile
# misc
data
